@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: inter, sans-serif;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--primary-color);
}

:root {
  --primary-color: #fff;
  --secondary-color: grey;
  --accent-color: #0f0fe8;
}

.dark-theme {
  --primary-color: #121212;
  --secondary-color: #f1f1f1;
  --accent-color: #bcbcfb;
}

.mainPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
}

#modeToggle {
  display: flex;
  background: var(--primary-color);
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid rgb(232, 228, 228);
  color: var(--accent-color);
  align-items: center;
  text-align: center;
  gap: 3px;
}

#modeToggle img {
  width: 30px;
  padding-right: 5%;
}

.newsletter {
  width: 50%;
  background-color: var(--primary-color);
  padding-left: 2%;
  margin-top: 15px;
  padding-right: 7%;
  min-height: 100vh;
}

.previous {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
}

.previous > img {
  width: 20px;
  margin-top: 9px;
}

.previous > a {
  margin-top: 10px;
  color: var(--secondary-color);
  margin-left: 15px;
  font-size: 12px;
  font-weight: 500;
}

.newsletter > h4 {
  font-size: 14px;
  margin-top: 28px;
  font-weight: 700;
  color: var(--secondary-color);
}

.rate {
  display: flex;
  flex-direction: row;
  color: var(--accent-color);
  margin-top: 5px;
}

.rate > h3 {
  color: var(--accent-color);
  font-size: 30px;
  letter-spacing: 3px;
}

.rate p {
  margin-left: 12px;
  font-size: 10px;
  font-weight: 700;
  max-width: 10px;
  margin-top: 6px;
  line-height: 12px;
}

.PriceTag {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.monthlySub {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  color: var(--secondary-color);
}

.monthlySub > p {
  margin-right: 40px;
  text-align: end;
  flex: 1;
  font-weight: 600;
}

.PriceTag > p {
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 600;
}

.border {
  border-bottom: 1px solid var(--secondary-color);
  margin-top: 30px;
}

.subTotal {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  color: var(--secondary-color);
}

.subTotal > p {
  margin-right: 40px;
  text-align: end;
  flex: 1;
  font-weight: 600;
}

.total {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  color: var(--secondary-color);
}

.total > {
  font-weight: 700;
}

.total > p {
  margin-right: 40px;
  text-align: end;
  flex: 1;
  font-weight: 700;
}

.subscriptionPage {
  background-color: var(--primary-color);
  margin-top: 3%;
  padding-right: 4%;
  padding-left: 7%;
  width: 50%;
  padding-bottom: 17px;
}

.subscriptionPage > h3 {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
}

.email {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  max-width: 100%;
  align-items: center;
  margin-top: 5px;
}

.email > p {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-left: 2px;
  font-size: 12px;
  font-weight: 600;
  padding-left: 10px;
}

.email > input {
  flex: 1;
  text-align: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  padding-left: 10px;
  height: 30px;
}

.paymentInfo > h3 {
  color: var(--accent-color);
  margin-top: 22px;
  font-weight: 500;
  font-size: 16px;
}

.paymentInfo > p {
  font-size: 12px;
  margin-top: 12px;
  font-weight: 600;
  color: var(--secondary-color);
}

.cardFront {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--secondary-color);
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cardFront > input {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  padding-left: 10px;
  height: 30px;
}

.cardIcon > img {
  flex: 1;
  width: 10px;
  height: 15px;
  text-align: end;
  width: auto;
  height: auto;
  max-width: 25px;
  max-height: 12px;
  object-fit: cover;
  justify-content: flex-end;
  margin-right: 4px;
  align-items: center;
}

.cardBack {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
}

.cardBack > input {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  outline: none;
  border-top: none;
  border-right: none;
  padding-left: 10px;
  width: 100%;
  height: 30px;
}

.cardHolder {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid var(--secondary-color);
}

.cardHolder > input {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  padding-left: 10px;
  height: 30px;
}

.cardBack > p {
  border: none;
  outline: none;
  padding-left: 10px;
  height: 30px;
}

.billingAddress {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid var(--secondary-color);
}

.billingAddress > input {
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  outline: none;
  padding-left: 10px;
  height: 30px;
}

.city {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--secondary-color);
}

.city > input {
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 10px;
  width: 100%;
  height: 25px;
}

.checkout {
  display: flex;
  width: 100%;
  border: 2px solid var(--secondary-color);
  margin-top: 10px;
  min-height: 78px;
  flex-direction: column;
  padding-bottom: 5px;
}

.checkoutHead {
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.tickBox > input {
  width: 20px;
  height: 17px;
  border: 2px solid var(--accent-color);
  margin-left: 15px;
  margin-top: 15px;
}

.checkoutHead > h5 {
  margin-top: 9px;
  margin-left: 15px;
  font-weight: 600;
}

.checkout > p {
  color: var(--secondary-color);
  margin-top: 9px;
  margin-left: 50px;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.policy {
  display: flex;
  width: 100%;
  margin-top: 10px;
  min-height: 78px;
}

.policy > p {
  color: var(--secondary-color);
  margin-top: 9px;
  margin-left: 20px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 90%;
  line-height: 22px;
}

.spanText {
  color: var(--accent-color);
}

.subscribeButton {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.subscribeButton > button {
  background-color: var(--accent-color);
  color: #fff;
  width: 100%;
  height: 43px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  border: none;
}

.hidden {
  display: none;
  padding-bottom: 35%;
}

.visible {
  display: block;
}

@media screen and (min-width: 300px) {
  .mainPage {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .newsletter {
    width: 100%;
    margin-bottom: 8%;
    padding-left: 7%;
  }

  .subscriptionPage {
    width: 100%;
    padding-right: 7%;
  }

  .cardIcon > img {
    width: 8px;
    height: 10px;
  }

  .cardBack {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid var(--secondary-color);
  }

  .cardBack > input {
    border: 2px solid rgba(45, 44, 44, 0.075);
    outline: none;
    border-top: none;
    border-right: none;
    padding-left: 10px;
    width: 50%;
    height: 30px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) {
  .cardIcon > img {
    width: 8px;
    height: 10px;
    text-align: end;
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 10px;
    object-fit: cover;
    justify-content: flex-end;
    margin-right: 3px;
    align-items: center;
  }
  .mainPage {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .mainPage {
    height: 100%;
  }
}
